<div class="parallax-container">
  <div class="container">
    <%= render 'layouts/navbar' %>
    <section>
      <div class="callout">
        <h1 class="center-align white-text">Cafe TXI</h1>
      </div>
    </section>
  </div>
  <div class="parallax"><img src="http://www.nobrowcoffee.com/wp-content/uploads/2016/04/coffee-wallpaper-1306-1433-hd-wallpapers.jpg"></div>
</div>

<div class="container">
  <% if @menu_items.blank? %>
    <p>There are no menu items, please click <%= link_to "Create Menu Item", new_menu_item_path %> to create a new menu item </p>
  <% else %>

  <h2 class="center-align">Menu</h2>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-content center-align">
          <h3>Appetizers</h3>
          <% @menu_items.each do |menu_item| %>
            <% if menu_item.category == "Appetizer" %>
              <span class="card-title"><%= link_to menu_item.name, menu_item_path(menu_item) %> $<%= menu_item.price %></span>
              <%= menu_item.description %><br>
              <%= form_for(@order_item, remote: true) do |f| %>
                <%= f.hidden_field :menu_item_id, value: menu_item.id %>
                <div class="card-action">
                  <div class="col s4 offset-s2">
                    <%= f.select :quantity, options_for_select(1..10), { prompt: "Quantity" }, class: "browser-default" %>
                  </div>
                  <div class="submit-btn"><%= f.submit "Add to Cart" %></div><br>
                </div>
              <% end %>
            <% end %>
          <% end %><br>

          <h3 class="center-align">Main Course</h3>
          <% @menu_items.each do |menu_item| %>
            <% if menu_item.category == "Main Course" %>
              <span class="card-title"><%= link_to menu_item.name, menu_item_path(menu_item) %> $<%= menu_item.price %></span>
              <%= menu_item.description %><br>
              <%= form_for(@order_item, remote: true) do |f| %>
                <%= f.hidden_field :menu_item_id, value: menu_item.id %>
                <div class="card-action">
                  <div class="col s4 offset-s2">
                    <%= f.select :quantity, options_for_select(1..10), { prompt: "Choose a Quantity" }, class: "browser-default" %>
                  </div>
                  <div class="submit-btn"><%= f.submit "Add to Cart" %></div><br>
                </div>
              <% end %>
            <% end %>
          <% end %><br>

          <h3 class="center-align">Side Dish</h3>
          <% @menu_items.each do |menu_item| %>
            <% if menu_item.category == "Side Dish" %>
              <span class="card-title"><%= link_to menu_item.name, menu_item_path(menu_item) %> $<%= menu_item.price %></span>
              <%= menu_item.description %><br>
              <%= form_for(@order_item, remote: true) do |f| %>
                <%= f.hidden_field :menu_item_id, value: menu_item.id %>
                <div class="card-action">
                  <div class="col s4 offset-s2">
                    <%= f.select :quantity, options_for_select(1..10), { prompt: "Choose a Quantity" }, class: "browser-default" %>
                  </div>
                  <div class="submit-btn"><%= f.submit "Add to Cart" %></div><br>
                </div>
              <% end %>
            <% end %>
          <% end %><br>

          <h3 class="center-align">Dessert</h3>
          <% @menu_items.each do |menu_item| %>
            <% if menu_item.category == "Dessert" %>
              <span class="card-title"><%= link_to menu_item.name, menu_item_path(menu_item) %> $<%= menu_item.price %></span>
              <%= menu_item.description %><br>
              <%= form_for(@order_item, remote: true) do |f| %>
                <%= f.hidden_field :menu_item_id, value: menu_item.id %>
                <div class="card-action">
                  <div class="col s4 offset-s2">
                    <%= f.select :quantity, options_for_select(1..10), { prompt: "Choose a Quantity" }, class: "browser-default" %>
                  </div>
                  <div class="submit-btn"><%= f.submit "Add to Cart" %></div><br>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
