<div class="container">
  <h1>Add New Menu Item</h1>

  <%= form_for @menu_item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.label :category %>
    <%= f.select :category, options_for_select(['Appetizer', 'Main Course', 'Side Dish', 'Dessert']), { prompt: "Choose a category" }, class: "browser-default" %><br>

    <%= f.label :price %>
    <%= f.text_field :price %><br>

    <%= f.submit "Submit" %>
  <% end %>

  <%= link_to "Back", root_path %>
</div>
