<div class="container">
  <h2 class="center-align">Menu Items</h2>
  <table class="bordered highlight">
    <tbody>
      <tr>
        <td>Name:</td>
        <td><%= @menu_item.name %></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><%= @menu_item.description %></td>
      </tr>
      <tr>
        <td>Category:</td>
        <td><%= @menu_item.category %></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><%= @menu_item.price %></td>
      </tr>
      <tr>
        <td>Image:</td>
        <td><%= image_tag @menu_item.image.url(:small) %></td>
      </tr>
      <tr>
        <% if current_user %>
          <td>Edit/Delete:</td>
          <td>
            <%= link_to "Edit", edit_menu_item_path(@menu_item) %> |
            <%= link_to "Delete", menu_item_path(@menu_item), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
          <% end %>
      </tr>
    </tbody>
  </table>
</div>
